<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <script src="angular.js"></script>
</head>
<body>

<!--ng-model 数据 双向绑定-->
<input type="text" ng-model="a">
<input type="text" ng-model="a">
<!--ng-bind输出，但是一般用模板代替-->

<!--ng-app angular范围绑定 即，写了ng-app才可以用-->

<!--模板 类似于占位符-->
<!--{{ }}-->




<!--

一、angular和JavaScript一般不互通，即angular用不了js的东西，js用不了angular的东西
1、函数不互通
2、变量不互通
3、事件不互通

二、angular的开发和传统开发模式完全不同----即angular只需要盯住数据
    在angular中数据是核心，

 -->

<!-- ng-click -- angular点击事件 -->

<!-- ng-init -- 初始化 -->









</body>
</html>