@charset "utf-8";
#tab {
	background: pink;
	height: 300px;

}
#tab ul li{
	float: left;
	/*消除小点*/
	list-style:none;
	/*background: yellow;*/
	border: 1px solid #ccc;
	margin-left: 20px;
	margin-top: 10px;
}



.active {
	/*width: 100px;*/
	background: green;

}

.liDiv {
	height: 150px;
	/*padding-top : 50px;*/
	background: red;
}

.txtBack {
	margin-top: 10px;
	width: 100px;
	/*height: 100px;*/
	background: yellow;
}